<%- include('layout/header', {activePage: "fuelhistory"}) %>
<title>Fuel History</title>
<body>
  <div><h1>Fuel Quote History</h1></div>
  <table class="table">
    <%if(fuelList.length > 0) {%>
    <thead>
      <tr>
        <th scope="col">Gallons</th>
        <th scope="col">Date</th>
        <th scope="col">Price</th>
        <th scope="col">Total Price</th>
      </tr>
    </thead>
    <%}%>
    <tbody>
      <%if(fuelList.length > 0) {%>
        <%fuelList.forEach(item => {%>
          <tr>
            <td scope="row"><%= item.gallons %></td>
            <td><%= item.date %></td>
            <td>$<%= item.price %></td>
            <td>$<%= item.total %></td>
          </tr>
        <%})%>
      <%} else{%>
        <p style="text-align: center;">No fuel history available</p>
      <%}%>
    </tbody>
  </table>
</body>
</html>
